* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background: linear-gradient(-90deg, dodgerblue, mediumblue);
}

.card {
    position: relative;
    width: 75%;
    max-width: 700px;
    padding: 8px;
    background-color: lightgrey;
    border: 3px solid black;
    margin: auto;
}

.card img {
    align-self: center;
    border: 3px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    padding: 4px;
    margin: 4px 0;
    border: 3px solid black;
    border-radius: 4px;
    background-color: darkgray;
}

h4 {
    text-align: center;
    align-self: center;
    font-weight: bold;
    margin: 0 8px;
    padding: 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 40px;
    font-size: large;
    font-weight: bold;
    border: 2px solid black;
}

.btn a {
    color: white;
    text-decoration: none;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}

.profile-btn {
    width: 100%;
    max-width: 100px;
    padding: 20px 0;
    height: 40px;
}