* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background: linear-gradient(-90deg, dodgerblue, mediumblue);
}

.error-message {
    color: red;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    padding: 8px 0;
}

.container {
    border-radius: 20px;
    box-shadow: 0 8px 16px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    min-height: 500px;
    padding: 8px;
    letter-spacing: 1px;
    background-color: whitesmoke;
}

.container button {
    color: whitesmoke;
    background-color: purple;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px 8px;
}

.container button:is(:hover, :focus) {
    transform: scale(1.15);
}

.container form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

label {
    width: 90%;
}

input, select {
    width: 100%;
    padding: 2px;
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
    background-color: whitesmoke;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

h3 {
    color: darkred;
}

h3, h5 {
    padding-top: 8px;
}

table {
    width: 100%;
    margin-top: 8px;
}

table th {
    background-color: lightslategrey;
}

table tr, table th, table td {
    min-width: 48px;
    width: fit-content;
    max-width: 160px;
    padding: 4px;
    border: 1px solid black;
    font-weight: bold;
    font-size: large;
}

